/*в этом проекте акцент сделан на реакт, чуть css будет доработан*/
h2, h3 {
  text-align: center;
}

.error {
  text-align: center;
  font:15px Arial;
  color:red;
}

.title {
  text-align: center;
}

.author {
  text-align: center;
  font: italic 13px Arial;
}

.description {
  text-indent: 20px;
}








